.app__character{
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.app__character_content{
    display: flex;
    flex-direction: column;

}

.app__character_content-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.app__character_content-header h2{

    margin: 4rem 0 3rem 0;

}
.app__character_content-header p{
    color: var(--color-white);
    font-weight: 400;
    text-align: left;
    line-height: 30px;
    font-size: 21px;

    margin-bottom: 3rem;
}

.app__character-img{
    display: flex;
    /* width: 30%; */
    justify-content: left;
}

.app__character-img img{
  max-width: 100%;
  height: auto;
}
.app__character_content-info{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}


@media  screen and (max-width: 1280px) {
    .app__character_content-header h2{
        font-size: 48px;
        margin: 2rem 0 1.5rem 0;
    
    }
    .app__character_content-header p{
        font-size: 18px;
    
        margin-bottom: 1.5rem;
    }
}
@media  screen and (max-width: 1024px){
    .app__character{
        flex-direction: column;
    }
    .app__character-img{
        align-items: center;
        justify-content: center;
        order: 2;
    }
    .app__character-img img{
        max-width: 50%;
        height: auto;
    }
    /* We could display it none and send it back as bacground!!!! MUST DO WILL LOOK NICE BELIEVE IN YOUR SKILLS FELLA! */
}