.app__cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    background: var(--gradient-bg);
    color: var(--color-white);
    /* #3333339d */
    padding: 8px 1rem;
    backdrop-filter: blur(10px);

}

.app__cta-info, .app__cta button{
   padding: 1rem 2rem;

}
.app__cta button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border: none;
    background: rgba(255, 0, 0, 1);
    border-radius: 8px;

    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--header-font);
    cursor: pointer;
}
.app__cta button:hover{
    background: rgb(163, 1, 1);
}

@media screen and (max-width: 1050px) {
    .app__cta{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .app__cta-info, .app__cta button{
        padding: 12px 1rem;
    }
}