.app__monster{
    height: 100vh;

}
.app__monster-header{
    margin: 4rem 0;
}
.app__monster-header h2, .app__monster-header p{
    text-align: center;
}

.app__monster-header h2{
    margin-bottom: 3rem;
    
}
.app__monster-header p{
    line-height: 30px;
    font-size: 21px;
    font-weight: 800;
}
