.app__navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    /* background: var(--color-black); */

}
.app__navbar-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.app__navbar-logo img{
    width: 150px;
    cursor: pointer;
}

.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__navbar-links li{
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 1.3rem;
    cursor: pointer;
    text-transform: uppercase;

    margin: 0 1rem;

}
.app__navbar-links li:hover{
    border-bottom: 1px solid white;
}

.app__navbar-tree img{
    width: 50px;
    height: 100%;
    cursor: pointer;
}

/* SMALL SCREEN NAVBAR */

.app__navbar-small{
    display: none;
    cursor: pointer;
}
app__navbar-small_overlay{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.overlay__close{
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--color-white);
    font-size: 2rem;
    z-index: 7;
    cursor: pointer;
    
}
.app__navbar-small_overlay-links{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    background: url(../../assets/d_logo.png);
    background-position: left;
    background-blend-mode: color-dodge;
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-color: var(--color-black);
    transition: .5 ease;
    
    flex-direction: column;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.app__navbar-small_overlay-links li{
    font-family: var(--header-font);
    font-size: 1.5rem;
    margin: 1rem 2rem 1rem 0;
    text-transform: uppercase;

   
}

.app__navbar-small_overlay-links li:hover{
    color: var(--color-white);

}



@media  screen and (max-width: 1050px) {
    .app__navbar-links li{
        font-size: 1rem;
    }
    .app__navbar-logo img{
        width: 130px;
    }
    .app__navbar-tree{
        display: none;
    }
}
@media  screen and (max-width: 768px) {
    .app__navbar{
        justify-content: space-between;
    }
    .app__navbar-small{
        display: flex;
    }
    .app__navbar-links{
        display: none;
    }
    
    .app__navbar-logo img{
        width: 110px;
    }
}