
.section__padding{
  padding: 4rem 6rem;
}
.flex__center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.p__raleway{
  font-family: var(--font);
  letter-spacing: 0.04em;
}

.header__cormorant{
  font-family: var(--header-font);
  font-size: 4rem;

}

.img__bg{

  background-image: url('./assets/party_group.png'), radial-gradient(ellipse at 50% 43%, #FFFFFF 0%, #B1B1B1 100%);
  background-position: center 90%;
  background-size: 70%,  auto;
  background-repeat: no-repeat;
  background-blend-mode: multiply; /* Blend the images with the gradient background */

}

.black__bg{
  background: url('./assets/bg_one.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .img__bg{
    /* background-size: 50% 50%, 50% 50%;  */
    background-position: center 90%; /* Keep them in the same positions */
    background-size: contain;
    
  }
}


.gradient__bg{
  background: radial-gradient(ellipse at 50% 43%, #FFFFFF 0%, #B1B1B1 100%);
  background-position: 90%;
  background-size: auto;
  background-repeat: no-repeat;
}

/*  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed; */

/*  <a href="https://www.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_17839221.htm#query=black%20texture&position=2&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik  !!!!!!!!!!!!!!!!!______BG_ONE*/

/* <a href="https://www.freepik.com/free-photo/clean-black-plaster_1038363.htm?query=black%20texture#from_view=detail_alsolike">Image by kues1</a> on Freepik */

/* <a href="https://www.freepik.com/free-photo/vintage-grungy-textured-paper-background_15599867.htm#query=parchment&position=4&from_view=keyword&track=sph">Image by rawpixel.com</a> on Freepik */