
.section__padding{
  padding: 4rem 6rem;
}
.flex__center{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.p__raleway{
  font-family: var(--font);
  letter-spacing: 0.04em;
}

.header__cormorant{
  font-family: var(--header-font);
  font-size: 4rem;

}

.img__bg{

  background-image: url('./assets/party_group.png'), radial-gradient(ellipse at 50% 43%, #FFFFFF 0%, #B1B1B1 100%);
  background-position: center 90%;
  background-size: 70%,  auto;
  background-repeat: no-repeat;
  background-blend-mode: multiply; /* Blend the images with the gradient background */

}

.black__bg{
  background: url('./assets/bg_one.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){
  .img__bg{
    /* background-size: 50% 50%, 50% 50%;  */
    background-position: center 90%; /* Keep them in the same positions */
    background-size: contain;
    
  }
}


.gradient_bg{
  background: radial-gradient(ellipse at 50% 43%, #FFFFFF 0%, #B1B1B1 100%);

    /* radial-gradient(ellipse at 50% 43%, #FFFFFF 0%, #B1B1B1 100%) */
    /* radial-gradient(ellipse at 50% 40%, rgba(19, 63, 3, 1) 0%, rgba(3, 50, 25, 1) 48%, rgba(0, 36, 16, 1) 100%) */
}
/* 
.gradient_bg2{
  background:-moz-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
  background:-webkit-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
  background:-o-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
  background:-ms-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
  background:radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
} */

  /* background:-moz-radial-gradient(ellipse at 50% 0%, rgba(97, 23, 23, 0.97) 10%, rgba(33, 7, 33, 1) 100%);
  background:-webkit-radial-gradient(ellipse at 50% 0%, rgba(97, 23, 23, 0.97) 10%, rgba(33, 7, 33, 1) 100%);
  background:-o-radial-gradient(ellipse at 50% 0%, rgba(97, 23, 23, 0.97) 10%, rgba(33, 7, 33, 1) 100%);
  background:-ms-radial-gradient(ellipse at 50% 0%, rgba(97, 23, 23, 0.97) 10%, rgba(33, 7, 33, 1) 100%);
  background:radial-gradient(ellipse at 50% 0%, rgba(97, 23, 23, 0.97) 10%, rgba(33, 7, 33, 1) 100%); */

/* 
{

    background:-moz-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
    background:-o-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
    background:-ms-radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);
    background:radial-gradient(circle at 50% 50%, rgba(90, 15, 0, 1) 5%, rgba(73, 12, 42, 1) 99%);

    
    background:-moz-radial-gradient(ellipse at 50% 25%, rgba(24, 73, 6, 1) 0%, rgba(3, 56, 28, 1) 47%, rgba(0, 36, 16, 1) 100%);
    background:-webkit-radial-gradient(ellipse at 50% 25%, rgba(24, 73, 6, 1) 0%, rgba(3, 56, 28, 1) 47%, rgba(0, 36, 16, 1) 100%);

    background:-o-radial-gradient(ellipse at 50% 25%, rgba(24, 73, 6, 1) 0%, rgba(3, 56, 28, 1) 47%, rgba(0, 36, 16, 1) 100%);

    background:-ms-radial-gradient(ellipse at 50% 25%, rgba(24, 73, 6, 1) 0%, rgba(3, 56, 28, 1) 47%, rgba(0, 36, 16, 1) 100%);

} */

/*  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed; */

/*  <a href="https://www.freepik.com/free-photo/solid-concrete-wall-textured-backdrop_17839221.htm#query=black%20texture&position=2&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik  !!!!!!!!!!!!!!!!!______BG_ONE*/

/* <a href="https://www.freepik.com/free-photo/clean-black-plaster_1038363.htm?query=black%20texture#from_view=detail_alsolike">Image by kues1</a> on Freepik */
